.knop {
  display: grid;
  place-content: center;
  font-size: clamp(2rem, 1rem + 5vw, 4rem);
}

$f: 1.5;
$w: 13em;


.button {
  --background-color: white;
  --border-color: linear-gradient(to bottom right, red, blue);
  --border-width: 0.5em;
  --edge-size: 0.5em;

  cursor: pointer;
  background: var(--background-color);
  padding: 0.5em 1.5em;
  border: 0;
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  clip-path: polygon(var(--edge-size) 0%,
      100% 0,
      100% calc(100% - var(--edge-size)),
      calc(100% - var(--edge-size)) 100%,
      0 100%,
      0% var(--edge-size));
  transition: color 250ms;
}

button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--border-color);
  z-index: -2;
}

button::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--background-color);
  z-index: -1;
  clip-path: polygon( // top left 1
      var(--border-width) calc(var(--edge-size) + var(--border-width) * 0.5),
      // top left 2
      calc(var(--edge-size) + var(--border-width) * 0.5) var(--border-width),
      // top right
      calc(100% - var(--border-width)) var(--border-width),
      //bottom right - 1
      calc(100% - var(--border-width)) calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5)),
      // bottom right - 2
      calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)),
      // bottom left
      calc(var(--border-width)) calc(100% - var(--border-width)));
  transition: clip-path 500ms;
}

button:hover {
  color: white;
}

button:hover::after {
  // clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%, 50% 50%);

  clip-path: polygon( // top left 1
      calc(100% - var(--border-width)) calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5)),
      // top left 2
      calc(100% - var(--border-width)) var(--border-width),
      // top right
      calc(100% - var(--border-width)) var(--border-width),
      //bottom right - 1
      calc(100% - var(--border-width)) calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5)),
      // bottom right - 2
      calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)),
      // bottom left
      calc(100% - calc(var(--edge-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)));
}

.card {
  overflow: hidden;
  position: relative;
  padding: Min(85%, #{.5*$f*$w}) 0;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(#000, .5);
  background: linear-gradient(to left top, #ec014b, #06cced);
  isolation: isolate;
  margin-bottom: 2rem;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    content: ''
  }

  &::before {
    background:
      repeating-linear-gradient(45deg, #000, #999, #000 5%),
      linear-gradient(45deg, #777, #000);
    background-blend-mode: screen;
    filter: contrast(19);
    mix-blend-mode: multiply;
  }

  &::after {
    background: linear-gradient(90deg, #251967, #d0135e);
    mix-blend-mode: screen
  }
}

.card:nth-child(1)::before {
  background:
    repeating-linear-gradient(45deg, #000, #666, #000 20%),
    repeating-radial-gradient(circle, #ddd, #000, #ddd 5%),
    repeating-conic-gradient(#ddd, #000, #ddd 5%);
  background-blend-mode: screen, difference
}